<!--sd_order_files_list-->
<!-- 
<p class="ty-customer-notes__title">Прикрепленные файлы к заказу:</p>

{if "ULTIMATE"|fn_allowed_for}
    {if ($runtime.company_id && $product_data.shared_product == "Y" && $product_data.company_id != $runtime.company_id)}
        {assign var="hide_for_vendor" value=true}
        {assign var="skip_delete" value=true}
        {assign var="hide_inputs" value="cm-hide-inputs"}
        {assign var="edit_link_text" value=__("view")}
    {/if}
{/if}

{assign var="redirect_url" value=$config.current_url|escape:url}

<div class="items-container cm-sortable" data-ca-sortable-table="sd_order_files" data-ca-sortable-id-name="attachment_id" id="attachments_list">

{if !$hide_for_vendor}
<div class="btn-toolbar clearfix">
    <div class="pull-right">
    {capture name="add_new_picker"}
        {include file="addons/sd_order_files/views/sd_order_files/update.tpl" attachment=[] object_id=$object_id object_type=$object_type}
    {/capture}
    {include file="common/addons/sd_order_files/popupbox.tpl" id="add_new_attachments_files" text=__("new_sd_order_files") link_text=__("add_sd_order_files") content=$smarty.capture.add_new_picker act="general" icon="icon-plus"}
    </div>
</div>
{/if}

{if $sd_order_files}
{fn_print_r|$sd_order_files}
{else}
    <p>{__("no_data")}</p>
{/if}

</div>

<p>&nbsp;</p>

-->