{if $auth.user_id}
    <li class="ty-account-info__item  ty-account-info__name ty-dropdown-box__item">
    <a href="index.php?dispatch=sd_order_files.view">{__("files")}</a>
    </li>
{/if}
                