<div class="group">
    <div class="control-group">
		<label class="checkbox" for="f_orders">
			<input type="checkbox" name="files_in_orders" id="f_orders" value="{$auth.user_id}" {if $search.files_in_orders}checked="checked"{/if} /> {__("files_in_orders")} </label>
    </div>

</div>